<div class="container">
	<div class="jumbotron">
		<h1 align="center"><%= link_to "Book a session", new_choeur_path %></h1>
	</div>
</div>
<style type="text/css">
	.jumbotron {
		background-image: url(http://www.choeurs-au-diapason.org/IMG/jpg/2_-_web_Choeurs_au_Diapason_-_Opera_de_Marseille_14-01-2009.jpg);
		background-size: cover;
	    background-repeat: no-repeat;
	    color: white;
	    text-shadow: black 0.3em 0.3em 0.3em;
	    height: 780px;
	}
</style>

